#Container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	font-family: monospace;
	overflow: hidden;
}

#ScrollIndicator {
	width: 100%;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 0px;
	background-color: #aaaaaa;
	transition: top 0.25s;
}

#TransportPosition {
	color: #aaaaaa;
	position: absolute;
	left: 10px;
	bottom: 10px;
}