.dg.ac {
  z-index: 10000 !important; }

#Container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  font-family: monospace;
  overflow: hidden; }

#StartButton {
  width: 250px;
  height: 250px;
  background-color: blue;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  border-radius: 10px;
  cursor: pointer; }
  #StartButton #Triangle {
    opacity: 1;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 112.5px solid white;
    font-size: 150px; }
  #StartButton .PauseBar {
    opacity: 0;
    position: absolute;
    height: 150px;
    width: 37.5px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    background-color: white; }
  #StartButton #Pause0 {
    left: 33%; }
  #StartButton #Pause1 {
    left: 66%; }

#StartButton.Playing #Triangle {
  opacity: 0; }
#StartButton.Playing .PauseBar {
  opacity: 1; }

#StartButton.Corner {
  bottom: 10px;
  left: 10px;
  transform: translate3d(-40%, 40%, 0) scale(0.15);
  -webkit-transform: translate3d(-40%, 40%, 0) scale(0.15);
  -moz-transform: translate3d(-40%, 40%, 0) scale(0.15);
  transition: transform 0.2s, left 0.2s, bottom 0.2s; }

#StartButton.MobileCorner {
  top: 10px;
  left: 10px;
  transform: translate3d(-40%, -40%, 0) scale(0.15);
  -webkit-transform: translate3d(-40%, -40%, 0) scale(0.15);
  -moz-transform: translate3d(-40%, -40%, 0) scale(0.15);
  transition: transform 0.2s, left 0.2s, bottom 0.2s; }

#StartButton:hover {
  background-color: green; }
  #StartButton:hover #Triangle {
    border-left-color: black; }
  #StartButton:hover .PauseBar {
    background-color: black; }

#StartButton:hover:active {
  background-color: black; }
  #StartButton:hover:active #Triangle {
    border-left-color: white; }
  #StartButton:hover:active .PauseBar {
    background-color: white; }

/**
 *  LOADING
 */
#LoadingScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: blue;
  z-index: 100; }
  #LoadingScreen #LoadingBar {
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    width: 60%;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid white; }
    #LoadingScreen #LoadingBar #Progress {
      width: 20px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: white; }

/**
 *  SPLASH
 */
#SplashBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1000;
  opacity: 1; }
  #SplashBackground .SplashPage {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%; }
    #SplashBackground .SplashPage #Text {
      color: white;
      position: absolute;
      font-family: monospace;
      font-size: 40px;
      text-align: center;
      width: 80%;
      left: 50%;
      top: 50%;
      height: auto;
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0); }
  #SplashBackground #First {
    background-color: #1e68bb; }
  #SplashBackground #Second {
    background-color: #48dd77; }

/**
 *  PASSWORD SCREEN
 */
#PassWordScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1000; }
  #PassWordScreen #Text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 60px;
    font-family: monospace;
    font-size: 24px;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0); }

/**
 *  SCROLL STUFF
 */
#ScrollContainer {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  /*z-index: 0;*/
  overflow: hidden; }
  #ScrollContainer #InnerScroll {
    height: 100%;
    width: calc(100% + 20px);
    overflow-y: scroll; }
    #ScrollContainer #InnerScroll #Scroller {
      height: 100000px;
      width: 100%; }
  #ScrollContainer #Channel {
    background-color: blue;
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #00ff47;
    /*border-left: 1px dotted black;*/ }
    #ScrollContainer #Channel #Indicator {
      cursor: pointer;
      width: 20px;
      height: 30px;
      border-radius: 2px;
      position: absolute;
      top: calc(50% - 15px - 2px);
      right: 2px;
      background-color: #f1ff27;
      opacity: 1; }
    #ScrollContainer #Channel #Indicator:hover {
      background-color: white; }
    #ScrollContainer #Channel #Indicator.Dragging {
      background-color: black; }

#TransportPosition {
  color: #aaaaaa;
  position: absolute;
  left: 10px;
  bottom: 10px; }

#FrameContainer {
  position: absolute;
  height: 240%;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -120%;
  width: 640px; }
  #FrameContainer .Frame {
    height: calc(100% / 3);
    left: 10%;
    width: 80%;
    top: 0px;
    position: absolute;
    position: absolute;
    z-index: 1000; }
    #FrameContainer .Frame #Content {
      height: 80%;
      position: absolute;
      left: 10%;
      width: 80%;
      top: 10%;
      background-color: #aaaaaa; }

/*# sourceMappingURL=main.css.map */
