#Container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	font-family: monospace;
	overflow: hidden;
	// background-image: url("http://www.mi2f.com/m/activity/images/coin-grid.gif");
}


#ScrollChannel {
	$ScrollIndicatorHeight: 10px;
	$ScrollIndicatorWidth: 7px;

	width: $ScrollIndicatorWidth + 2px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	// background-color: rgba(255, 0, 255, 0.1);
	// border-left: 1px dotted black;

	#ScrollIndicator {
		width: $ScrollIndicatorWidth;
		height: $ScrollIndicatorHeight;
		border-radius: 2px;
		position: absolute;
		top: calc(50% - #{$ScrollIndicatorHeight / 2});
		right: 1px;
		background-color: rgba(0, 225, 255, 0.9);
		transition: top 0.25s;
	}
}


#TransportPosition {
	color: #aaaaaa;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

#FrameContainer {

	$FrameHeight : 80%;
	$FrameWidth: 640px;
	$FrameCount : 3;

	position: absolute;
	height: $FrameHeight * $FrameCount;
	top: 50%;
	left: 50%;
	margin-left: -$FrameWidth/2;
	margin-top: - ($FrameHeight * $FrameCount) / 2;
	width: $FrameWidth;


	.Frame {
		height: calc(100% / #{$FrameCount});
		left: 10%;
		width: 80%;
		top: 0px;
		// transition: translate 0.1s;
		position: absolute;
		position: absolute;
		z-index: 1000;

		#Content {
			height: 80%;
			position: absolute;
			left: 10%;
			width: 80%;
			top: 10%;
			background-color: #aaaaaa;
		}
	}
}
