.dg.ac {
  z-index: 10000 !important; }

html, body {
  height: 100%;
  overflow: hidden; }

#Container {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  font-family: "Courier New", monospace;
  overflow: hidden;
  width: calc(100% - 20px - 4px); }
  #Container canvas {
    opacity: 0;
    width: 100% !important;
    height: 100% !important;
    		/*transform: scale($scaling);
      		transform-origin: 0 0;
      		-webkit-transform: scale($scaling);
      		-webkit-transform-origin: 0 0;
      		-moz-transform: scale($scaling);
    		-moz-transform-origin: 0 0;
    		transition: opacity 0.25s;
    		-webkit-transition: opacity 0.25s;
    		-moz-transition: opacity 0.25s;
    		-o-transition: opacity 0.25s;*/ }
  #Container #CoverAll {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0px;
    left: 0px;
    opacity: 0; }

#StartButton {
  width: 250px;
  height: 250px;
  background-color: #1040FF;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  border-radius: 10px;
  cursor: pointer; }
  #StartButton #Triangle {
    opacity: 1;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 112.5px solid white;
    font-size: 150px; }
  #StartButton .PauseBar {
    opacity: 0;
    position: absolute;
    height: 150px;
    width: 37.5px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    background-color: white; }
  #StartButton #Pause0 {
    left: 33%; }
  #StartButton #Pause1 {
    left: 66%; }

#StartButton.Playing #Triangle {
  opacity: 0; }
#StartButton.Playing .PauseBar {
  opacity: 1; }

#StartButton.Corner {
  bottom: 10px;
  left: 10px;
  transform: translate3d(-40%, 40%, 0) scale(0.15);
  -webkit-transform: translate3d(-40%, 40%, 0) scale(0.15);
  -moz-transform: translate3d(-40%, 40%, 0) scale(0.15);
  -o-transform: translate3d(-40%, 40%, 0) scale(0.15);
  transition: transform 0.2s, left 0.2s, bottom 0.2s;
  -webkit-transition: -webkit-transform 0.2s, left 0.2s, bottom 0.2s;
  -moz-transition: -moz-transform 0.2s, left 0.2s, bottom 0.2s;
  -o-transition: -o-transform 0.2s, left 0.2s, bottom 0.2s; }

#StartButton.MobileCorner {
  top: 10px;
  left: 10px;
  transform: translate3d(-40%, -40%, 0) scale(0.15);
  -webkit-transform: translate3d(-40%, -40%, 0) scale(0.15);
  -moz-transform: translate3d(-40%, -40%, 0) scale(0.15);
  -o-transform: translate3d(-40%, -40%, 0) scale(0.15);
  transition: transform 0.2s, left 0.2s, bottom 0.2s;
  -webkit-transition: -webkit-transform 0.2s, left 0.2s, bottom 0.2s;
  -moz-transition: -moz-transform 0.2s, left 0.2s, bottom 0.2s;
  -o-transition: -o-transform 0.2s, left 0.2s, bottom 0.2s; }

#StartButton:hover {
  background-color: #00ED00; }
  #StartButton:hover #Triangle {
    border-left-color: black; }
  #StartButton:hover .PauseBar {
    background-color: black; }

#StartButton:hover:active {
  background-color: black; }
  #StartButton:hover:active #Triangle {
    border-left-color: white; }
  #StartButton:hover:active .PauseBar {
    background-color: white; }

/**
 *  LOADING
 */
#LoadingScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #1040FF;
  z-index: 100; }
  #LoadingScreen #LoadingBar {
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    width: 60%;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid white; }
    #LoadingScreen #LoadingBar #Progress {
      width: 20px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: white; }

/**
 *  SPLASH
 */
#SplashBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1000;
  opacity: 1; }
  #SplashBackground .SplashPage {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%; }
    #SplashBackground .SplashPage #Text {
      color: white;
      position: absolute;
      font-family: "Courier New", monospace;
      font-size: 36px;
      text-align: center;
      width: 80%;
      left: 50%;
      top: 50%;
      height: auto;
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0); }
      #SplashBackground .SplashPage #Text .arrow {
        display: block; }
    #SplashBackground .SplashPage #MobileDisclaimer {
      font-size: 0.6em; }
  #SplashBackground #First {
    background-color: #F010FF; }
  #SplashBackground #Second {
    background-color: #00ED00; }

/**
 *  PASSWORD SCREEN
 */
#PassWordScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1000; }
  #PassWordScreen #Text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 60px;
    font-family: "Courier New", monospace;
    font-size: 24px;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0); }

/**
 *  SCROLL STUFF
 */
#ScrollContainer {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  /*z-index: 0;*/
  overflow: hidden; }
  #ScrollContainer #InnerScroll {
    height: 100%;
    width: calc(100% + 20px);
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/ }
    #ScrollContainer #InnerScroll #Scroller {
      /*height: 100000px;*/
      height: 100%;
      width: 100%; }
  #ScrollContainer #Channel {
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #F010FF;
    /*border-left: 1px dotted black;*/ }
    #ScrollContainer #Channel #Indicator {
      cursor: pointer;
      width: 20px;
      height: 30px;
      border-radius: 2px;
      position: absolute;
      top: calc(50% - 15px - 2px);
      right: 2px;
      background-color: #00ED00;
      opacity: 1; }
    #ScrollContainer #Channel #Indicator:hover {
      background-color: white; }
    #ScrollContainer #Channel #Indicator.Dragging {
      background-color: black; }
  #ScrollContainer #Channel.Highlight {
    background-color: white; }
    #ScrollContainer #Channel.Highlight #Indicator {
      background-color: black; }

#ScrollContainer.B #Channel {
  background-color: black;
  /*border-left: 1px dotted black;*/ }
  #ScrollContainer.B #Channel #Indicator {
    background-color: white; }
  #ScrollContainer.B #Channel #Indicator:hover {
    background-color: #00ED00; }
  #ScrollContainer.B #Channel #Indicator.Dragging {
    background-color: #F010FF; }

#TransportPosition {
  color: #aaaaaa;
  position: absolute;
  left: 10px;
  bottom: 100px; }

#FrameContainer {
  position: absolute;
  height: 240%;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -120%;
  width: 640px; }
  #FrameContainer .Frame {
    height: calc(100% / 3);
    left: 10%;
    width: 80%;
    top: 0px;
    position: absolute;
    position: absolute;
    z-index: 1000; }
    #FrameContainer .Frame #Content {
      height: 80%;
      position: absolute;
      left: 10%;
      width: 80%;
      top: 10%;
      background-color: #aaaaaa; }

#NoSupport {
  font-family: "Courier New", monospace;
  width: 80%;
  left: 10%;
  position: absolute;
  top: 40%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px; }

#Notification {
  width: calc(100% - 10px * 2);
  height: 70px;
  line-height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #1040FF;
  font-family: "Courier New", monospace;
  color: white;
  font-size: 24px;
  text-align: center;
  opacity: 0; }

.Mobile #Notification {
  top: calc(100% - 10px - 70px);
  font-size: 14px;
  line-height: 35px; }

#InfoContainer {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #1040FF;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 20px;
  z-index: 101;
  transition: width 0.25s, height 0.25s;
  -webkit-transition: width 0.25s, height 0.25s;
  -moz-transition: width 0.25s, height 0.25s;
  -o-transition: width 0.25s, height 0.25s; }
  #InfoContainer #Credits {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0;
    text-align: left;
    color: white;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s; }
    #InfoContainer #Credits a {
      font-weight: 900;
      text-decoration: none;
      color: white; }
    #InfoContainer #Credits a:hover {
      color: #00ED00; }
    #InfoContainer #Credits a:hover:active {
      color: #F010FF; }
  #InfoContainer #InfoButton {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
    font-weight: bold; }
  #InfoContainer #InfoButton:hover {
    background-color: #00ED00;
    color: #1040FF; }

.Mobile #InfoContainer {
  top: 15px !important; }
  .Mobile #InfoContainer #Credits {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 10px;
    font-size: 12px; }

#InfoContainer.Expanded {
  width: calc(100% - 15px * 2);
  height: calc(100% - 15px * 2);
  opacity: 0.85;
  cursor: inherit; }
  #InfoContainer.Expanded #Credits {
    opacity: 1;
    /*#Facebook {
    	maring-left: 33%;
    }
    #Twitter {
    	left: 66%;
    }*/ }
    #InfoContainer.Expanded #Credits .social {
      /*@include translate(-50%, -50%);*/
      position: relative;
      margin-right: 10px;
      /*top: 60%;*/
      height: 50px;
      width: 50px;
      font-size: 50px;
      color: #F010FF;
      cursor: pointer;
      text-align: left;
      float: left; }
    #InfoContainer.Expanded #Credits .social:hover {
      color: #00ED00; }
    #InfoContainer.Expanded #Credits .social:hover:active {
      color: white; }

#End {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.9s;
  -webkit-transition: opacity 0.9s;
  -moz-transition: opacity 0.9s;
  -o-transition: opacity 0.9s; }
  #End #Replay {
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50px;
    width: 200px;
    text-align: center;
    color: #F010FF;
    cursor: pointer;
    font-size: 50px; }
  #End #Replay:hover {
    color: #00ED00; }
  #End #Replay:hover:active {
    color: black; }

#End.Visible {
  z-index: 100;
  opacity: 1; }

/**
 *  HD BUTTON
 */
#HDButton {
  position: absolute;
  bottom: 15px;
  right: 70px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 20px;
  z-index: 101;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #1040FF;
  border: 2px solid #1040FF; }

#HDButton:hover {
  background-color: transparent;
  border-color: #00ED00;
  color: #00ED00; }

#HDButton.HD {
  background-color: #1040FF;
  color: white; }

#HDButton.HD:hover {
  background-color: #00ED00;
  border-color: #00ED00;
  color: #1040FF; }

#HDButton:hover:active {
  background-color: black;
  color: white; }

/*# sourceMappingURL=main.css.map */
