Up/Down is an interactive song by  <a target="_blank" href='http://yotammann.info'>Yotam Mann</a> with visual design by <a target="_blank" href='http://sarahrothberg.com'>Sarah Rothberg</a>.
<br><br>

Special thanks to <a href="https://twitter.com/gabeliberti" target="_blank">Gabe Liberti</a> for production help.
<br><br>

Up/Down was developed using <a target="_blank" href='http://tonejs.org'>Tone.js</a> and <a target="_blank" href='http://threejs.org'>Three.js</a>
<br><br>

<a target="_blank" href="./info">more info</a>
<br><br>
