
.icon-up-big:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-twitter-squared:before { content: '\e803'; } /* '' */